<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Pegawai</h2>
      <!-- Check validasi error -->
      <% if (typeof errors!= 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% errors.forEach(error => { %>
              <li><%= error.msg %> </li>
            <% }) %>
          </ul>
        </div>
      <% } %>
      <form method="POST" action="/edit/pegawai/<%= pegawai.idPegawai %>">
        <div class="mb-1">
          <label for="nama" class="form-label">ID Pegawai:</label>
          <input type="text" class="form-control" id="idPegawai" name="idPegawai" value="<%= pegawai.idPegawai %>" disabled readonly>
        </div>
        <div class="mb-1">
          <label for="nama" class="form-label">Nama:</label>
          <input type="text" class="form-control" id="nama" name="nama" value="<%= pegawai.nama %>">
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email" value="<%= pegawai.email %>">
        </div>
        <div class="mb-1">
          <label for="mobile" class="form-label">Nomor Telepon:</label>
          <input type="text" class="form-control" id="mobile" name="mobile" value="<%= pegawai.mobile %>">
        </div>
        <div class="mb-1">
          <label for="birthdate">Birthdate:</label>
          <input type="text" name="birthdate" class="form-control" placeholder="DD-MM-YYYY"
            onfocus="(this.type='date')"
            onblur="(this.type='text')"
            value="<%= pegawai.birthdate %>">
        </div>
        <div class="field-wrapper">
          <label for="field-alamat">Alamat:</label>
          <div class="input-group mb-1">
            <input type="text" id="field-alamat" name="alamat" class="form-control" value="<%= pegawai.alamat %> "/>
          </div>
        </div>
        <button type="submit" class="btn btn-primary md-3">Ubah</button>
        <a href="/" class="btn btn-secondary">Kembali</a>
      </form>
      </div>
    </div>
  </div>
</div>
